FLASK_APP=src/app
ENVIRONMENT=dev
MYSQL_HOST=localhost
MYSQL_PASSWORD=password
MYSQL_USER=user
MYSQL_DB_NAME=db_name

AUTH_USERNAME=test
AUTH_PASSWORD=pass

SWAGGER_USERNAME=test
SWAGGER_PASSWORD=pass